# macOS system files
**/.DS_Store

# Node.js dependencies
node_modules/

# Environment variables
**/.env
**/.env.prod

# Python cache files
**/__pycache__/
*.py[cod]

# Python virtual environments
venv/
.env/

**/db/config.json

**/slim.report.json

**/cert.pem
**/key.pem