@import "tailwindcss";

@theme {
  --color-primary: #E5DCC5;
  --color-secondary: #F0BB78;
  --color-tertiary: #A4B465;
  --color-quaternary: #626F47;
  --color-error: #A94A4A;
  --color-warning: #FF9B17;
  --color-background: #FFF9E5;

  /* text colors */
  --color-text: #212529;
  --color-text-clickable: #212529;
  --color-text-hover: #6c757d;
  --color-text-active: #343a40;
  --color-text-disabled: #adb5bd;
}

::selection {
  background: var(--color-tertiary);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

a {
  /*font-weight: 500;
  color: var(--color-text-clickable);
  text-decoration: inherit;*/
}

body {
  /*margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;*/
}

h1 {
  /*font-size: 3.2em;
  line-height: 1.1;*/
}

button {
    /*border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-quaternary);
    cursor: pointer;
    transition: border-color 0.25s;*/
}
button:hover {
    /*border-color: #646cff;*/
}
button:focus,
button:focus-visible {
    /*outline: 4px auto -webkit-focus-ring-color;*/
}

.btn-nav {
  @apply flex items-center justify-center w-full py-3 mb-2 lg:text-lg font-semibold rounded-lg bg-quaternary text-white transition-colors duration-200 shadow-md hover:bg-quaternary/80 focus:bg-quaternary/90;
}

.btn-nav-active {
  @apply flex items-center justify-center w-full py-3 mb-2 lg:text-lg font-semibold rounded-lg bg-quaternary/70 text-white shadow-md;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--color-text-hover);
  }
  button {
    background-color: #f9f9f9;
  }
}
